<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EducationSystem</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageCourse</servlet-name>
    <servlet-class>Servlet.ManageCourse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageStudentList</servlet-name>
    <servlet-class>Servlet.ManageStudentList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisposeLeaveApply</servlet-name>
    <servlet-class>Servlet.DisposeLeaveApply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisposeInformation</servlet-name>
    <servlet-class>Servlet.DisposeInformation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisposeCourse</servlet-name>
    <servlet-class>Servlet.DisposeCourse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AskForLeave</servlet-name>
    <servlet-class>Servlet.AskForLeave</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>Stumessage</servlet-name>
    <servlet-class>Servlet.Stumessage</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>LessonListServlet</servlet-name>
    <servlet-class>Servlet.LessonListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LessonServlet</servlet-name>
    <servlet-class>Servlet.LessonServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>studentListServlet</servlet-name>
    <servlet-class>Servlet.studentListServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>LeaveApplyServlet</servlet-name>
    <servlet-class>Servlet.LeaveApplyServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>LeaveApplyServlet</servlet-name>
    <url-pattern>/Servlet/LeaveApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentListServlet</servlet-name>
    <url-pattern>/Servlet/studentListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageCourse</servlet-name>
    <url-pattern>/Servlet/ManageCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageStudentList</servlet-name>
    <url-pattern>/Servlet/ManageStudentList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisposeLeaveApply</servlet-name>
    <url-pattern>/Servlet/DisposeLeaveApply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisposeInformation</servlet-name>
    <url-pattern>/Servlet/DisposeInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisposeCourse</servlet-name>
    <url-pattern>/Servlet/DisposeCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AskForLeave</servlet-name>
    <url-pattern>/Servlet/AskForLeave</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Stumessage</servlet-name>
    <url-pattern>/Servlet/Stumessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LessonListServlet</servlet-name>
    <url-pattern>/Servlet/LessonListServlet</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>LessonServlet</servlet-name>
    <url-pattern>/Servlet/LessonServlet</url-pattern>
  </servlet-mapping>
</web-app>